.status-calendar .react-calendar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-calendar .react-calendar--doubleView {
  width: 700px;
}

.status-calendar .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.status-calendar .react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.status-calendar .react-calendar,
.status-calendar .react-calendar *,
.status-calendar .react-calendar *:before,
.status-calendar .react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.status-calendar .react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  cursor: default;
  border: 1px solid #e8e8e8;
}

.status-calendar .react-calendar__navigation {
  display: flex;
  justify-content: center;
  width: 342px;
  height: 42px;
  margin-bottom: 18px;
  border: none;
}
.status-calendar .react-calendar .react-calendar__navigation__label {
  border: none;
}
.status-calendar .react-calendar__navigation button {
  font-size: 20px;
  font-weight: 700;
  min-width: 44px;
  background: none;
}

.status-calendar .react-calendar__month-view__weekdays {
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.status-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 12px 0 12px 12px;
  color: #969696;
  font-size: 16px;
  font-weight: 500;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.status-calendar .react-calendar__month-view__weekdays__weekday abbr[title] {
  text-decoration: none; /* 밑줄 및 '...' 없애기 */
}

.status-calendar .react-calendar__tile abbr {
  margin-top: 12px;
  margin-left: 12px;
}

.status-calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  background-color: white;
}

.status-calendar .react-calendar__month-view__days__day--neighboringMonth,
.status-calendar .react-calendar__decade-view__years__year--neighboringDecade,
.status-calendar .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.status-calendar .react-calendar__tile {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 114px;
  width: 100%;
  height: 154px;
  font-size: 21px;
  font-weight: 500;
  color: #969696;
  position: relative;
  background-color: #fff;
}

.status-calendar .react-calendar__month-view__days__day--neighboringMonth:disabled,
.status-calendar .react-calendar__decade-view__years__year--neighboringDecade:disabled,
.status-calendar .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.status-calendar .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.status-calendar .react-calendar__navigation__next2-button,
.status-calendar .react-calendar__navigation__prev2-button {
  display: none;
}

.status-calendar .react-calendar .react-calendar__navigation__next-button,
.status-calendar .react-calendar .react-calendar__navigation__prev-button {
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .status-calendar .react-calendar__navigation {
    width: 100%;
  }
  .status-calendar .react-calendar .react-calendar__navigation__next-button,
  .status-calendar .react-calendar .react-calendar__navigation__prev-button {
    padding: 0;
  }
}
